/*------------------------------------*\
  计算器
\*------------------------------------*/
.simulator[calculator] {
    --primary-color: var(--cyan-500);
    --secondary-color: var(--teal-a400);
}

.simulator[calculator] {
    & .display {
        z-index: 4;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: end;
        row-gap: 16px;
        padding-block-end: 24px;
        background-color: var(--medium-emphasis-surface-color);
        box-shadow: var(--shadow-z4);
        overflow: clip;
    }

    & .toolbar {
        align-self: stretch;
        justify-content: space-between;

        & .button {
            color: var(--secondary-text-color);
        }
    }

    & .expression {
        padding-inline-end: var(--keyline);
        font-family: "Roboto";
        font-weight: 300;
        line-height: 1;
    }

    & .result {
        margin-block-start: 8px;
        padding-inline-end: var(--keyline);
        color: var(--hint-text-color);
        font-family: "Roboto";
        font-weight: 300;
        line-height: 1;
    }

    & .panel {
        position: relative;
        display: flex;
        flex-grow: 1;
        padding-inline-end: 16px;
        padding-block-end: 48px;
    }

    & .numeric {
        flex-grow: 1;
        display: grid;
        align-items: center;
        justify-items: stretch;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        background-color: var(--grey-800);
        padding: 4px 8px;
    }

    & .operator {
        display: grid;
        align-items: center;
        justify-items: stretch;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        background-color: var(--grey-700);
        padding: 4px 12px;

        & .button:last-of-type {
            display: none;
        }

        & .button:nth-of-type(2) {
            grid-row-start: 1;
        }

        & .button:is(:nth-of-type(4), :nth-of-type(5)) {
            grid-column-start: 1;
        }
    }

    & :is(.numeric, .operator) .button {
        block-size: 100%;
        color: var(--primary-text-color);
        font-weight: 300;
    }

    & .advanced {
        flex-grow: 1;
        align-items: center;
        justify-items: stretch;
        inline-size: calc(100% - var(--increment));
        block-size: 100%;
        position: absolute;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        box-sizing: border-box;
        padding: 4px 8px 52px 8px;
        background-color: var(--secondary-color);
        font-family: "Roboto";
        translate: var(--increment);
        box-shadow: var(--shadow-z2);

        &:not([open]) {
            translate: calc(100% + var(--increment) - 16px);
            box-shadow: var(--shadow-z0);
        }

        & .button {
            color: var(--secondary-text-color);
            text-transform: none;
            font-weight: 400;
        }
    }
}

@container simulator (width >=520px) {
    .simulator[calculator] {
        & .panel {
            padding-inline-end: 0px;
        }

        & .numeric .button:last-of-type {
            display: none;
        }

        & .operator {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(4, 1fr);

            & .button:nth-of-type(2) {
                grid-row-start: unset;
            }

            & .button:last-of-type {
                display: inline-flex;
            }
        }

        & .advanced {
            inline-size: initial;
            block-size: initial;
            position: relative;
            padding-block-end: 4px;
            translate: 0px;
        }

        & .scrim {
            display: none;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .simulator[calculator] {
        & .numeric {
            background-color: var(--grey-900);
        }

        & .operator {
            background-color: var(--grey-850);
        }

        & .display {
            background-color: var(--grey-800);
        }
    }
}