/*------------------------------------*\
  日历
\*------------------------------------*/

.simulator[calendar] {
    --secondary-color: var(--red-a200);
    --calendar-light-red: var(--google-red-alt-400);
    --calendar-teal: var(--teal-500);
    --calendar-light-teal: var(--teal-400);
    --calendar-light-green: var(--google-green-kennedy-300);
    --calendar-blue-grey: var(--blue-grey-300);
    --calendar-yellow: var(--google-yellow-alt-700);
    --calendar-deep-orange: var(--deep-orange-400);
}

.simulator[calendar] .button[variant="fab"] {
    --surface-hint-color: var(--white-hint-color);
    --surface-shade-color: var(--brown-shade-color);
    inset-inline-end: var(--keyline);
    inset-block-end: calc(48px + var(--keyline));
    color: var(--primary-text-color);
}

.simulator[calendar] .application {
    justify-content: center;
}

.simulator[calendar] .toolbar {
    z-index: 4;
    inset-inline: 0;
    position: absolute;
    color: var(--secondary-text-color);
    background-color: var(--low-emphasis-surface-color);
}

.simulator[calendar] .toolbar .title {
    display: flex;
    align-items: center;
}

.simulator[calendar] .toolbar .title cmd-icon {
    color: var(--secondary-text-color);
}

.simulator[calendar] .schedule {
    position: relative;
    inline-size: 100%;
    display: flex;
    flex-direction: column;
}

.simulator[calendar] .illustration {
    position: relative;
    block-size: calc(3 * var(--increment));
    display: flex;
    align-items: start;
    padding-inline: calc(16px + var(--increment));
    overflow: clip;
}

.simulator[calendar] .illustration img {
    position: absolute;
    inline-size: 200%;
    align-self: center;
}

.simulator[calendar] .illustration span {
    position: relative;
    margin-block: var(--keyline);
    color: var(--primary-text-color);
}

.simulator[calendar] .month {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: var(--keyline);
    padding-block: 24px;
    background-color: var(--medium-emphasis-surface-color);
}

.simulator[calendar] .events {
    position: relative;
    display: grid;
    grid-template-columns: 44px auto;
    padding-inline: var(--keyline);
    row-gap: 8px;
}

.simulator[calendar] .date {
    align-self: start;
    inset-block-start: calc(24px + var(--keyline) + var(--increment));
    position: sticky;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    font-weight: 400;
    line-height: 1;
    color: var(--primary-text-color);
}

.simulator[calendar] .schedule .events:has(div:nth-of-type(2)) .date {
    grid-row-end: span 2;
}

.simulator[calendar] .date[class~="today"] {
    color: var(--secondary-color);
}

.simulator[calendar] .date>span {
    color: var(--secondary-text-color);
    white-space: nowrap;
}

.simulator[calendar] .schedule .event {
    grid-column-start: 2;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-inline: 12px;
    color: white;
    background-color: var(--teal-300);
    border-radius: 2px;
    box-sizing: border-box;
}

.simulator[calendar] .schedule .event[size="regular"] {
    block-size: 32px;
    align-items: center;
}

.simulator[calendar] .schedule .event[size="medium"] {
    block-size: 56px;
    align-items: center;
}

.simulator[calendar] .schedule .event[size="large"] {
    block-size: 80px;
    align-items: center;
}

.simulator[calendar] .schedule .event[size="xlarge"] {
    block-size: 112px;
    align-items: end;
    padding-block: 8px;
}

.simulator[calendar] .schedule .event span {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    line-height: 1.25rem;
}

.simulator[calendar] .now {
    grid-column-start: 2;
    position: relative;
    block-size: 0px;
    display: flex;
    align-items: center;
}

.simulator[calendar] .now::before {
    content: "";
    inline-size: 100%;
    block-size: 1px;
    padding-inline-start: 8px;
    margin-inline-start: -8px;
    background-color: var(--secondary-color);
}

.simulator[calendar] .now::after {
    content: "";
    inset-inline-start: -12px;
    position: absolute;
    inline-size: 8px;
    aspect-ratio: 1 / 1;
    background-color: var(--secondary-color);
    border-radius: 50%;
}

/*------------------------------------*\
  选择日期
\*------------------------------------*/

.simulator[calendar="select-date"] .toolbar {
    grid-template-rows: var(--increment) 1fr;
    box-shadow: var(--shadow-z8);
}

.simulator[calendar="select-date"] .date-pick {
    grid-column: 1 / 6;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(7, 32px);
    grid-template-rows: repeat(6, 32px);
    justify-content: space-between;
    place-items: center;
    row-gap: 16px;
    padding-inline: 12px;
    padding-block: 8px 24px;
}

.simulator[calendar="select-date"] .date-pick span:nth-of-type(n + 8) {
    place-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-text-color);
    border-radius: 50%;
    box-sizing: border-box;
}

.simulator[calendar="select-date"] .date-pick span[class~="event"] {
    border: 1px solid var(--divider-color);
    border-radius: 50%;
}

.simulator[calendar="select-date"] .date-pick span[class~="today"] {
    background-color: var(--secondary-color);
    color: white;
}

.simulator[calendar="select-date"] .schedule {
    inset-block-start: 92px;
}

.simulator[calendar="select-date"] img {
    inset-inline-start: -25%;
}