/*------------------------------------*\
  Chrome
\*------------------------------------*/

.simulator[chrome] .overlay[variant="status-bar"] {
    --status-bar-background-color: black;
}

.simulator[chrome] .toolbar {
    grid-template-columns: 1fr;
    color: var(--secondary-text-color);
    background-color: var(--low-emphasis-surface-color);
    box-shadow: var(--shadow-z1);
}

.simulator[chrome] .omnibox {
    position: relative;
    block-size: 40px;
    padding-inline: 4px;
    margin-inline: 4px;
    display: flex;
    align-items: center;
    background-color: var(--medium-emphasis-surface-color);
    border-radius: 2px;
}

.simulator[chrome] .omnibox::before {
    content: "";
    inset: -1px;
    position: absolute;
    padding: 1px;
    border-radius: inherit;
    background-image: linear-gradient(rgb(0 0 0 / 12%), rgb(0 0 0 / 20%));
    -webkit-mask: linear-gradient(var(--medium-emphasis-surface-color) 0 0) content-box, linear-gradient(var(--medium-emphasis-surface-color) 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.simulator[chrome] .omnibox cmd-icon {
    padding: 7px;
    margin-bottom: 2px;
    color: var(--green-600);
}

.simulator[chrome] .omnibox span {
    padding-inline: 4px;
    color: var(--primary-text-color);
}

.simulator[chrome] .toolbar>.button span {
    position: absolute;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.simulator[chrome] .swipe-refresh {
    align-self: center;
    color: var(--google-blue-500);
    inset-block-start: calc(var(--status-bar-block-size) + var(--increment) + 24px + 20px);
}

@media (prefers-color-scheme: dark) {
    .simulator[chrome] .swipe-refresh {
        color: var(--google-blue-300);
    }
}

/*------------------------------------*\
  Android
\*------------------------------------*/

@font-face {
    font-family: 'And Black';
    src: url(../../resources/android.com/and_black.ttf) format("truetype");
}

.simulator[chrome="android"] .page {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    line-height: 24px;
    background-color: white;
}

.simulator[chrome="android"] .header {
    block-size: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 16px;
    color: #757575
}

.simulator[chrome="android"] .header img {
    inline-size: auto;
    block-size: 24px;
    margin-inline-end: -8px;
}

.simulator[chrome="android"] .banner {
    aspect-ratio: 10 / 9;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "And Black", sans-serif;
    font-weight: 500;
    color: #767777;
    background: url(../../resources/android.com/slide01-640.jpg) center 180% no-repeat;
    background-color: #f3f3f3;
    background-size: cover;
    overflow: hidden;
}

.simulator[chrome="android"] .banner p img {
    inline-size: auto;
    block-size: auto;
    vertical-align: baseline;
}

.simulator[chrome="android"] .banner>img:last-of-type {
    inset-block-start: 35%;
    position: absolute;
    inline-size: 42px;
    border-radius: 75px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 15%);
}

.simulator[chrome="android"] .banner span {
    inset-block-start: 7%;
    position: absolute;
    font-size: 20px;
    line-height: 32px;
}

.simulator[chrome="android"] .banner p {
    position: absolute;
    font-size: 16px;
    text-align: center;
}

.simulator[chrome="android"] .banner p:first-of-type {
    inset-block-start: 16%;
    line-height: 1.2;
}

.simulator[chrome="android"] .banner p:last-of-type {
    inset-block-start: 82%;
}

.simulator[chrome="android"] .controller {
    block-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.simulator[chrome="android"] .controller cmd-icon {
    margin: 12px;
    color: #6ab344;
}

.simulator[chrome="android"] .controller .dot {
    inline-size: 8px;
    aspect-ratio: 1 / 1;
    margin: 12px;
    background-color: #dcdcdc;
    border-radius: 50%;
}

.simulator[chrome="android"] .controller .active {
    background-color: #6ab344;
    scale: calc(10 / 8);
}

.simulator[chrome="android"] .wrapper {
    padding: 48px 16px 24px 16px;
    background-color: #fafafa;
}

.simulator[chrome="android"] .wrapper span {
    margin-block-end: 16px;
    font-size: 30px;
    line-height: 38px;
    color: #212121;
}