/*------------------------------------*\
  拨号
\*------------------------------------*/

.simulator[dialer] {
    --primary-color: var(--light-blue-700);
}

.simulator[dialer] .overlay[variant="status-bar"] {
    --status-bar-background-color: var(--light-blue-800);
}

.simulator[dialer] .toolbar[variant~="app-bar"] .toolbar {
    margin: 8px;
    color: var(--secondary-text-color);
}

.simulator[dialer] .button[variant="fab"] {
    --surface-hint-color: rgb(255 255 255 / 0.2);
    --surface-shade-color: rgb(38 50 56 / 0.2);
    inset-block-end: calc(48px + var(--keyline));
    background-color: var(--primary-color);
}

/*------------------------------------*\
  最近
\*------------------------------------*/

.simulator[dialer="recents"] .subheader {
    color: var(--secondary-text-color);
}

.simulator[dialer="recents"] .tile {
    grid-template-columns: min-content 1fr;
    column-gap: 16px;
}

.simulator[dialer="recents"] .tile[variant="three"] .secondary {
    color: var(--secondary-text-color-alt);
}

.simulator[dialer="recents"] .tile .text cmd-icon {
    vertical-align: text-bottom;
}

.simulator[dialer="recents"] .success {
    color: var(--green-a700);
}

.simulator[dialer="recents"] .failure {
    color: var(--red-a700);
}

.simulator[dialer="recents"] .button[variant="fab"] {
    inset-inline-end: var(--keyline);
}