/*------------------------------------*\
  全局设定
\*------------------------------------*/

.simulator[inbox] {
    --primary-color: var(--cyan-500);
    --secondary-color: var(--lime-a200);
}

.simulator[inbox] .application {
    background-color: var(--medium-emphasis-surface-color);
}

.simulator[inbox] .button[variant="fab"] {
    inset-inline-end: var(--keyline);
    inset-block-end: calc(48px + var(--keyline));
    color: var(--secondary-text-color);
}

/*------------------------------------*\
  主界面
\*------------------------------------*/

.simulator[inbox="main"] .application>.toolbar .overlay[variant="status-bar"] {
    --status-bar-background-color: var(--cyan-700);
}

.simulator[inbox="main"] .application>.toolbar {
    color: var(--secondary-text-color);
    box-shadow: var(--shadow-z0);
}

.simulator[inbox="main"] .application>.toolbar .title {
    color: white;
}

.simulator[inbox="main"] .application .subheader {
    color: var(--secondary-text-color);
}

.simulator[inbox="main"] .group {
    margin-block-end: var(--keyline);
    background-color: var(--medium-emphasis-surface-color);
    box-shadow: var(--shadow-z2);
}

.simulator[inbox="main"] .application>ul .tile {
    padding-inline: var(--keyline);
    grid-template-columns: min-content 1fr;
    column-gap: 16px;
}

.simulator[inbox="main"] .group .tile .primary span {
    color: var(--secondary-text-color);
}

.simulator[inbox="main"] .tile .secondary {
    color: var(--primary-text-color);
}

.simulator[inbox="main"] .tile .secondary span {
    color: var(--secondary-text-color);
}

.simulator[inbox="main"] ul .divider {
    padding-inline-start: calc(16px + var(--increment));
}

.simulator[inbox="main"] .button[variant="fab"] {
    --surface-hint-color: var(--white-hint-color);
    --surface-shade-color: var(--deep-orange-shade-color);
    box-shadow: var(--shadow-z4);
}

.simulator[inbox] .drawer {
    position: absolute;
}

.simulator[inbox] .drawer .header {
    background-image: url(../../resources/wallpapers/default_wallpaper_alt.jpg);
    background-size: cover;
}

.simulator[inbox] .drawer .overlay[variant="status-bar"] {
    --status-bar-background-color: rgb(0 0 0 / 0.2);
}

.simulator[inbox] .drawer ul:first-of-type li:nth-of-type(1) {
    --primary-text-color: var(--primary-color);
    --secondary-text-color: var(--primary-color);
    --states-base-color: var(--primary-color);
}

.simulator[inbox] .drawer ul:first-of-type li:nth-of-type(2) {
    --primary-text-color: var(--orange-800);
    --secondary-text-color: var(--orange-800);
}

.simulator[inbox] .drawer ul:first-of-type li:nth-of-type(3) {
    --primary-text-color: var(--google-green-alt-500);
    --secondary-text-color: var(--google-green-alt-500);
}

@media (prefers-color-scheme: dark) {
    .simulator[inbox] .drawer ul:first-of-type li:nth-of-type(2) {
        --primary-text-color: var(--orange-700);
        --secondary-text-color: var(--orange-700);
    }

    .simulator[inbox] .drawer ul:first-of-type li:nth-of-type(3) {
        --primary-text-color: var(--google-green-alt-300);
        --secondary-text-color: var(--google-green-alt-300);
    }
}

/*------------------------------------*\
  邮件内容
\*------------------------------------*/

.simulator[inbox] .content {
    display: flex;
    flex-direction: column;
}

.simulator[inbox] .content .toolbar {
    block-size: calc(var(--increment) + 72px);
    grid-template-columns: min-content minmax(0px, 1fr);
    color: var(--secondary-text-color);
    box-shadow: var(--shadow-z0);
}

.simulator[inbox] .content .toolbar .title {
    transform: translateY(64px);
    white-space: nowrap;
}

.simulator[inbox] .content .tile {
    padding-inline: var(--keyline);
    grid-template-columns: min-content 1fr;
    column-gap: 16px;
}

.simulator[inbox] .content .text {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: auto auto;
}

.simulator[inbox] .content .text .primary {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
}

.simulator[inbox] .content .text .primary :not(span:first-of-type) {
    color: var(--secondary-text-color);
}

.simulator[inbox] .content .text .secondary {
    grid-column: 1 / -1;
}

.simulator[inbox] .content .text .button {
    inset-block-end: 2px;
    position: relative;
    padding: 0px;
    margin-inline-start: 12px;
}

.simulator[inbox] .content li>p {
    padding-inline: calc(var(--increment) + 16px) var(--keyline);
}

.simulator[inbox] .content li:has(>p) .secondary {
    color: var(--secondary-text-color);
}

.simulator[inbox] .content hr {
    inset-block-end: 104px;
    position: sticky;
    padding: 0;
}

.simulator[inbox] .content>.tile {
    inset-block-end: 48px;
    position: sticky;
    color: var(--hint-text-color);
}

.simulator[inbox] .content>.tile cmd-icon {
    margin-inline-end: 16px;
}

.simulator[inbox] .content>.tile .primary {
    color: var(--secondary-text-color);
}

/*------------------------------------*\
  写邮件
\*------------------------------------*/

.simulator[inbox="compose"] .toolbar {
    color: var(--secondary-text-color);
    background-color: var(--low-emphasis-surface-color);
}

.simulator[inbox="compose"] :is(.from, .to, .subject) {
    block-size: 56px;
    display: flex;
    align-items: center;
    column-gap: var(--keyline);
    padding-inline: var(--keyline);
}

.simulator[inbox="compose"] .to {
    white-space: nowrap;
}

.simulator[inbox="compose"] .chips {
    display: flex;
    column-gap: 8px;
}

.simulator[inbox="compose"] .content {
    padding-inline: var(--keyline);
    line-height: var(--subheading-leading);
}

.simulator[inbox="compose"] .content span {
    color: var(--primary-color);
}
