/*------------------------------------*\
  启动器
\*------------------------------------*/

.simulator[launcher] {
    --primary-color: var(--blue-grey-900);
    --secondary-color: var(--teal-500);
}

.simulator[launcher] .application>img {
    z-index: -1;
    inset: 0;
    position: absolute;
    block-size: 100%;
    object-position: left;
}

.simulator[launcher] .scrim {
    z-index: -1;
}

.simulator[launcher] .scrim[variant="gradient"] {
    opacity: 0.3;
}

.simulator[launcher] .scrim[position="top"] {
    inset-block-start: 0;
}

.simulator[launcher] .scrim[position="bottom"] {
    inset-block-end: 0;
    rotate: 180deg;
}

/*------------------------------------*\
  桌面
\*------------------------------------*/

.simulator[launcher="home"] .application {
    padding-block: var(--status-bar-block-size) 48px;
}

.simulator[launcher="home"] .toolbar {
    grid-auto-columns: min-content;
    justify-content: space-between;
    margin: 8px 16px;
}

.simulator[launcher="home"] .toolbar img {
    inline-size: auto;
    block-size: 20px;
    padding-block-start: 2px;
    padding-inline: 12px;
    opacity: 0.38;
}

.simulator[launcher="home"] .toolbar span {
    justify-self: end;
    padding-inline: 12px;
    color: var(--hint-text-color);
    font-family: 'Roboto Condensed', 'Noto Sans SC', sans-serif;
}

.simulator[launcher="home"] .workspace {
    flex-grow: 1;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "a b c d"
        "e f g h"
        "i j k l"
        "m n o p";
    align-items: center;
    justify-items: center;
    padding-inline: 4px;
}

.simulator[launcher="home"] .workspace .unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
}

.simulator[launcher="home"] .workspace .unit>cmd-icon {
    inline-size: 60px;
}

.simulator[launcher="home"] .unit span {
    font-size: 0.8125rem;
    line-height: 0.875rem;
    font-family: 'Roboto Condensed', "Noto Sans SC", sans-serif;
    color: var(--primary-text-color);
    text-shadow: var(--text-shadow-z1);
}

.simulator[launcher="home"] .unit .folder {
    display: grid;
    grid-template-areas: "a";
    place-items: center;
}

.simulator[launcher="home"] .unit .folder .tray {
    --surface-hint-color: rgb(255 255 255 / 0.4);
    --surface-shade-color: rgb(33 33 33 / 0.1);
    grid-area: a;
    position: relative;
    inline-size: 60px;
    aspect-ratio: 1 / 1;
    background-color: rgb(255 255 255 / 0.645);
    border-radius: 50%;
    box-shadow: var(--shadow-z2);
}

.simulator[launcher="home"] .unit .folder cmd-icon {
    grid-area: a;
}

.simulator[launcher="home"] .unit .folder cmd-icon:nth-last-of-type(3) {
    inline-size: 32px;
    translate: 0px -10px;
}

.simulator[launcher="home"] .unit .folder cmd-icon:nth-last-of-type(2) {
    inline-size: 40px;
    translate: 0;
}

.simulator[launcher="home"] .unit .folder cmd-icon:nth-last-of-type(1) {
    inline-size: 48px;
    translate: 0px 10px;
}

.simulator[launcher="home"] .page-indicator {
    display: flex;
    block-size: 12px;
    margin-block-start: 8px;
    justify-content: center;
    align-items: center;
}

.simulator[launcher="home"] .dot {
    inline-size: 6px;
    aspect-ratio: 1 / 1;
    margin-inline: 4px;
    border-radius: 50%;
    background-color: var(--grey-50);
    box-shadow: var(--shadow-z1);
    opacity: 0.7;
}

.simulator[launcher="home"] .dot[activated] {
    inline-size: 8px;
    opacity: 1;
}

.simulator[launcher="home"] :is(.workspace, .hotseat) cmd-icon {
    filter: var(--drop-shadow-z1);
}

.simulator[launcher="home"] .hotseat {
    block-size: calc(60px + 24px);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "a b c d e";
    justify-items: center;
    align-items: center;
    padding-inline: 12px;
}

.simulator[launcher="home"] .hotseat cmd-icon {
    inline-size: 56px;
}

.simulator[launcher="home"] .hotseat cmd-icon[product="all_apps"] {
    grid-area: c;
}

/*------------------------------------*\
  应用抽屉
\*------------------------------------*/

.simulator[launcher="workspace"] .drawer {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 32px 8px 56px 8px;
    background-color: var(--medium-emphasis-surface-color);
    box-shadow: var(--shadow-z4);
    border-radius: 2px;
    overflow: clip;
}

.simulator[launcher="workspace"] .toolbar {
    color: var(--hint-text-color);
}

.simulator[launcher="workspace"] .toolbar span {
    margin-inline: 12px;
}

.simulator[launcher="workspace"] ul {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;
    padding: 8px;
}

.simulator[launcher="workspace"] ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block-end: 8px;
}

.simulator[launcher="workspace"] ul img {
    inline-size: 60px;
    margin-block: 8px;
}

.simulator[launcher="workspace"] ul span {
    font-size: 0.8125rem;
    line-height: 0.875rem;
    font-family: 'Roboto Condensed', "Noto Sans SC", sans-serif;
    color: var(--secondary-text-color);
}