/*------------------------------------*\
  音乐
\*------------------------------------*/

.simulator[music="my-library"] .application {
    background-color: #121212;
}

.simulator[music="my-library"] ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    padding: 4px 0;
}

.simulator[music="my-library"] li[theme~="dark"] .text .secondary {
    color: var(--primary-text-color);
}

.simulator[music="my-library"] li[theme~="light"] .text :is(.primary, .secondary) {
    color: var(--secondary-text-color-alt);
}

.simulator[music="my-library"] ul .tile {
    grid-template-columns: 1fr min-content;
}

.simulator[music="my-library"] [album="girl"] {
    grid-column-end: span 2;
    aspect-ratio: 2 / 1;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr min-content;
    column-gap: 2px;
    background-color: #f6bf26;
}

.simulator[music="my-library"] [album="girl"] img {
    inline-size: auto;
    block-size: 100%;
    grid-row-end: span 2;
}

.simulator[music="my-library"] [album="in-a-perfect-world"] {
    background-color: #2c556c;
}

.simulator[music="my-library"] [album="halcyon-days"] {
    background-color: #89196b;
}