/*------------------------------------*\
  设置
\*------------------------------------*/

.simulator[settings] {
    --primary-color: var(--blue-grey-900);
    --secondary-color: var(--teal-500);
}

.simulator[settings] .application {
    background-color: var(--medium-emphasis-surface-color);
}

.simulator[settings] .overlay[variant="status-bar"] {
    --status-bar-background-color: var(--blue-grey-1000);
}

.simulator[settings] ul {
    margin-block: 8px;
}