/*------------------------------------*\
  SHRINE
\*------------------------------------*/

.simulator[shrine] {
    --primary-color: #78efeb;
    --secondary-color: #f2f30f;
}

.simulator[shrine] .toolbar .overlay[variant="status-bar"] {
    background-color: var(--primary-color);
}

.simulator[shrine] .drawer .overlay[variant="status-bar"] {
    background-color: var(--grey-200);
}

.simulator[shrine] .application {
    background-color: var(--low-emphasis-surface-color);
}

.simulator[shrine] .toolbar {
    grid-template-columns: min-content 1fr;
    grid-template-rows: var(--increment) 80px;
    row-gap: var(--keyline);
    color: var(--primary-color);
    background-color: var(--high-emphasis-surface-color);
    box-shadow: var(--shadow-z0);
}

.simulator[shrine] .toolbar::before {
    content: "";
    inset-block: 24px 0px;
    inset-inline-end: 0px;
    position: absolute;
    inline-size: 50%;
    background-image: url(../../resources/shrine/shrine_background.svg);
    background-size: 68px;
    background-position: right top;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 100%);
}

.simulator[shrine] .toolbar .input {
    grid-column: 1 / -1;
    grid-row-start: 2;
    margin-inline: 12px calc(2 * var(--keyline) + 56px);
    color: var(--primary-text-color);
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    line-height: 1;
    padding-block-end: 4px;
    border-block-end: 1px solid var(--primary-color);
}

.simulator[shrine] .anchor {
    position: relative;
}

.simulator[shrine] .button[variant="fab"] {
    --surface-hint-color: var(--white-hint-color);
    --surface-shade-color: var(--deep-orange-shade-color);
    z-index: 6;
    position: absolute;
    inset-inline-end: var(--keyline);
    inset-block-end: 0px;
    transform: translateY(50%);
}

.simulator[shrine] .application > ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    padding: 8px;
}

.simulator[shrine] .application > ul li {
    display: flex;
    align-items: center;
    padding: 24px;
    background-color: var(--high-emphasis-surface-color);
}

.simulator[shrine] li:nth-of-type(2) img {
    transform: scale(1.35);
}

.simulator[shrine] li:nth-of-type(3) img {
    transform: scale(1.2);
}

.simulator[shrine] li:nth-of-type(4) img {
    transform: scale(1.1);
}

.simulator[shrine] .drawer {
    position: absolute;
    font-family: "Roboto Condensed", sans-serif;
}

.simulator[shrine] .drawer>.tile:first-of-type {
    grid-template-columns: 40px 1fr;
    column-gap: var(--keyline);
    padding-inline-start: var(--keyline);
    margin-block-start: calc(var(--status-bar-block-size) + var(--increment));
    margin-block-end: 8px;
}

.simulator[shrine] .drawer>.tile:first-of-type span {
    font-weight: 300;
}

.simulator[shrine] .drawer ul {
    margin-block-start: 8px;
}

.simulator[shrine] .drawer .divider,
.simulator[shrine] .drawer li {
    padding-inline-start: calc(40px + 2 * var(--keyline));
}

.simulator[shrine] .drawer li[activated] {
    color: var(--primary-color);
    font-weight: 700;
}

.simulator[shrine] .drawer li:nth-last-of-type(2) {
    grid-template-columns: 40px 1fr;
    padding-inline-start: var(--keyline);
}

.simulator[shrine] .drawer li:nth-last-of-type(2)>span:first-of-type {
    justify-self: center;
    inline-size: 24px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    border-radius: 50%;
    font-weight: 700;
}

.simulator[shrine] .drawer::before {
    content: "";
    inset-block-end: 48px;
    position: absolute;
    inline-size: 50cqi;
    aspect-ratio: 1 / 1;
    background-image: url(../../resources/shrine/shrine_background.svg);
    background-size: 68px;
    background-position: left bottom;
    clip-path: polygon(0 0, 10% 0, 100% 100%, 0% 100%);
}
