/*------------------------------------*\
  锁屏
\*------------------------------------*/

.simulator[system="lockscreen"] .application {
    flex-direction: column-reverse;
    align-items: center;
}

.simulator[system="lockscreen"] .application>img {
    z-index: -1;
    inset: 0;
    position: absolute;
    block-size: 100%;
    object-position: left;
}

.simulator[system="lockscreen"] .scrim {
    z-index: -1;
    opacity: 0.45;
}

.simulator[system="lockscreen"] .system .status {
    padding: 8px;
}

.simulator[system="lockscreen"] .system .status span {
    margin: 0 auto 0 0;
    padding-inline: 8px;
}

.simulator[system="lockscreen"] .system .navigation {
    translate: 0% 100%;
}

.simulator[system="lockscreen"] .clock {
    inset-block-start: calc(40px + 2 * var(--increment));
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.simulator[system="lockscreen"] .clock span:first-of-type {
    font-size: 4.875rem;
    font-weight: 300;
    line-height: calc(2 * var(--increment));
}

.simulator[system="lockscreen"] .clock span:last-of-type {
    letter-spacing: 0.1em;
    line-height: 1;
}

.simulator[system="lockscreen"] .actions {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    padding: 4px;
    color: var(--primary-text-color);
}

.simulator[system="lockscreen"] .actions .button {
    opacity: 0.5;
}
