/*----------------------------------------------------------------------------*\
  全页设定
\*----------------------------------------------------------------------------*/
.diagram {
    aspect-ratio: 1 / 1;

    & svg {
        z-index: -1;
        inset: 0;
        position: absolute;
        color: var(--frame-outline-color);
    }

    & path {
        stroke-dasharray: 1 1;
        stroke-dashoffset: 1;
    }
}

.surface {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--high-emphasis-surface-color);
    outline: 2px solid transparent;
    box-sizing: border-box;
    offset-anchor: center;
    offset-rotate: 0deg;
}

/*----------------------------------------------------------------------------*\
  视窗内的移动
\*----------------------------------------------------------------------------*/
:is(#arc-do, #line-do) .diagram {
    --frame-fill-color: rgb(33 150 243 / 0.12);
    --frame-outline-color: var(--blue-500);
}

:is(#arc-dont, #line-dont) .diagram {
    --frame-fill-color: rgb(244 67 54 / 0.12);
    --frame-outline-color: var(--red-500);
}

.surface {
    :is(#arc-do, #arc-dont, #line-do, #line-dont) & {
        --start-offset-distance: 0%;
        --final-offset-distance: 100%;
        inline-size: 112px;
        aspect-ratio: 1 / 1;
        border-radius: 2px;
        box-shadow: var(--shadow-z4);
        offset-distance: var(--start-offset-distance);

        &::before {
            content: "";
            inline-size: 4px;
            aspect-ratio: 1 / 1;
            outline-width: 2px;
            outline-style: solid;
            outline-color: var(--frame-outline-color);
            border-radius: 50%;
            opacity: 0;
        }
    }

    #arc-do & {
        --start-offset-distance: -75%;
        --final-offset-distance: -100%;
        offset-path: circle(168px at 96px 96px);
    }

    #arc-dont & {
        --start-offset-distance: -50%;
        --final-offset-distance: -25%;
        offset-path: circle(168px at 264px 264px);
    }

    #line-do & {
        --final-offset-distance: 168px;
        offset-path: ray(0deg farthest-side at center 264px);
    }

    #line-dont & {
        offset-path: path("M 56 140 A 168 168 0 0 0 56 -28");
    }
}

:is(#arc-do, #arc-dont, #line-do, #line-dont) .diagram[play="on"] {
    animation-duration: 6s;

    & .surface {
        animation-name: toFinalOffsetDistance, toStartOffsetDistance, toFrame, toFinalOffsetDistance, toStartOffsetDistance, toSurface;
        animation-duration: 400ms, 400ms, 200ms, 1s, 1s, 200ms;
        animation-delay: 0.5s, 1.5s, 2.5s, 3s, 4.5s, 5.75s;
        animation-timing-function: var(--standard-curve), var(--standard-curve), linear, var(--standard-curve), var(--standard-curve), linear;
        animation-fill-mode: forwards;

        #line-do & {
            animation-duration: 350ms, 350ms, 200ms, 1s, 1s, 200ms;
        }

        &::after {
            animation-name: toTransparent;
            animation-duration: 200ms;
            animation-delay: 2.5s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }

        &::before {
            animation-name: toOpaque, toTransparent;
            animation-duration: 200ms;
            animation-delay: 2.5s, 5.75s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }
    }

    & path {
        animation-name: toCurveExpand, toCurveCollapse;
        animation-duration: 1s;
        animation-delay: 3s, 4.5s;
        animation-timing-function: var(--standard-curve);
        animation-fill-mode: forwards;
    }
}

@keyframes toFinalOffsetDistance {
    100% {
        offset-distance: var(--final-offset-distance);
    }
}

@keyframes toStartOffsetDistance {
    100% {
        offset-distance: var(--start-offset-distance);
    }
}

@keyframes toFrame {
    100% {
        background-color: var(--frame-fill-color);
        outline-color: var(--frame-outline-color);
        box-shadow: var(--shadow-z0);
    }
}

@keyframes toSurface {
    100% {
        background-color: var(--high-emphasis-surface-color);
        outline-color: transparent;
        box-shadow: var(--shadow-z4);
    }
}

@keyframes toCurveExpand {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes toCurveCollapse {
    100% {
        stroke-dashoffset: 1;
    }
}

/*----------------------------------------------------------------------------*\
  进出视窗的移动
\*----------------------------------------------------------------------------*/
#temporarily-leaving-do {
    grid-column-start: max(1, calc(var(--content-columns) - 1));

    & .diagram {
        justify-content: start;
    }
}

.diagram span {
    #movement-in-out-of-screen-bounds & {
        position: absolute;
        margin: 40px;
    }

    :is(#permanently-leaving-do, #permanently-leaving-dont, #relative-do, #relative-dont) & {
        align-self: start;
    }

    #temporarily-leaving-do & {
        align-self: center;
        writing-mode: vertical-rl;
    }

    #temporarily-leaving-dont & {
        align-self: end;
    }

    :is(#permanently-leaving-do, #temporarily-leaving-do, #temporarily-leaving-dont, #relative-dont) &::before {
        content: "减速曲线";
        opacity: 0;
    }

    :is(#permanently-leaving-dont, #relative-do) &::before {
        content: "标准曲线";
        opacity: 0;
    }

    :is(#in-along-line, #permanently-leaving-do, #temporarily-leaving-do, #relative-do) &::before {
        color: var(--green-800);
    }

    :is(#in-along-arc, #permanently-leaving-dont, #temporarily-leaving-dont, #relative-dont) &::before {
        color: var(--red-500);
    }
}

.surface {
    :is(#in-along-line, #in-along-arc) & {
        inline-size: 56px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        box-shadow: var(--shadow-z6);
    }

    #in-along-line & {
        translate: 0px calc(50cqb + 50%);
        visibility: hidden;
    }

    #in-along-arc & {
        offset-path: path("M -208 208 A 208 208 0 0 0 0 0 A 208 208 0 0 0 208 208");
        visibility: hidden;
    }

    :is(#permanently-leaving-do, #permanently-leaving-dont) & {
        align-self: end;
        inline-size: 100%;
        block-size: 168px;
        margin: 16px;
        box-shadow: var(--shadow-z4);
        translate: 0px calc(100% + 16px);
        visibility: hidden;
    }

    #temporarily-leaving-do & {
        align-self: start;
        inline-size: calc(100% - 56px);
        block-size: 100%;
        box-shadow: var(--shadow-z16);
        border-radius: 0px;
        translate: -100%;
        visibility: hidden;
    }

    #temporarily-leaving-dont & {
        align-self: start;
        inline-size: 100%;
        block-size: calc(3 * 56px);
        box-shadow: var(--shadow-z16);
        border-radius: 0px;
        translate: 0% -100%;
        visibility: hidden;
    }

    :is(#relative-do, #relative-dont) &:first-of-type {
        align-self: end;
        inline-size: 100%;
        block-size: 80px;
        box-shadow: var(--shadow-z4);
        translate: 0% 100%;
        visibility: hidden;
    }

    :is(#relative-do, #relative-dont) &:last-of-type {
        inset-inline-end: 16px;
        inset-block-end: 16px;
        position: absolute;
        inline-size: 56px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        box-shadow: var(--shadow-z6);
    }
}

.diagram[play="on"] {
    :is(#in-along-line, #in-along-arc) & {
        animation-duration: 2s;
    }

    :is(#permanently-leaving-dont, #relative-do) & {
        animation-duration: 2.65s;
    }

    :is(#permanently-leaving-do, #temporarily-leaving-do, #temporarily-leaving-dont, #relative-dont) & {
        animation-duration: 3.65s;
    }

    & .surface {
        #in-along-line & {
            animation-name: toMoveClear, toMoveBack, hiddenToVisible;
            animation-duration: 300ms, 250ms, 1.3s;
            animation-delay: 0.5s, 1.5s, 0.5s;
            animation-timing-function: var(--deceleration-curve), var(--acceleration-curve), step-start;
            animation-fill-mode: forwards, forwards, none;
        }

        #in-along-arc & {
            animation-name: toMiddleOffsetDistance, toFinalOffsetDistance, hiddenToVisible;
            animation-duration: 350ms, 300ms, 1.3s;
            animation-delay: 0.5s, 1.5s, 0.5s;
            animation-timing-function: var(--deceleration-curve), var(--acceleration-curve), step-start;
            animation-fill-mode: forwards, forwards, none;
        }

        :is(#permanently-leaving-do, #permanently-leaving-dont) & {
            animation-name: toMoveClear, toMoveAppear, hiddenToVisible;
            animation-duration: 350ms, 300ms, 1.8s;
            animation-delay: 0.5s, 2s, 0.5s;
            animation-fill-mode: forwards, forwards, none;
        }

        #permanently-leaving-do & {
            animation-timing-function: var(--deceleration-curve), var(--acceleration-curve), step-start;
        }

        #permanently-leaving-dont & {
            animation-timing-function: var(--standard-curve), var(--standard-curve), step-start;
        }

        :is(#temporarily-leaving-do, #temporarily-leaving-dont) & {
            animation-duration: 350ms, 300ms, 1.8s;
            animation-delay: 0.5s, 2s, 0.5s;
            animation-timing-function: var(--deceleration-curve), var(--sharp-curve), step-start;
            animation-fill-mode: forwards, forwards, none;
        }

        #temporarily-leaving-do & {
            animation-name: toMoveClear, toMoveAside, hiddenToVisible;
        }

        #temporarily-leaving-dont & {
            animation-name: toMoveClear, toMoveRight, hiddenToVisible;
        }

        :is(#relative-do, #relative-dont) & {
            animation-duration: 350ms, 300ms, 1.8s;
            animation-delay: 0.5s, 2s, 0.5s;
            animation-fill-mode: forwards, forwards, none;

            &:first-of-type {
                animation-name: toMoveClear, toMoveDown, hiddenToVisible;
            }

            &:last-of-type {
                animation-name: toMoveUp, toMoveClear, hiddenToVisible;
            }
        }

        #relative-do & {
            animation-timing-function: var(--standard-curve), var(--standard-curve), step-start;
        }

        #relative-dont & {
            animation-timing-function: var(--deceleration-curve), var(--acceleration-curve), step-start;
        }
    }

    & span {
        :is(#permanently-leaving-do, #relative-dont, #temporarily-leaving-do, #temporarily-leaving-dont) &::before {
            animation-duration: 200ms, 150ms, 150ms, 200ms, 150ms;
            animation-delay: 0.5s, 1.85s, 2s, 2s, 3.5s;
            animation-timing-function: linear, linear, step-start, linear, linear;
            animation-fill-mode: forwards;
        }

        :is(#permanently-leaving-do, #relative-dont) &::before {
            animation-name: toOpaque, toTransparent, toNextContent, toOpaque, toTransparent;
        }

        :is(#temporarily-leaving-do, #temporarily-leaving-dont) &::before {
            animation-name: toOpaque, toTransparent, toSharpContent, toOpaque, toTransparent;
        }

        :is(#permanently-leaving-dont, #relative-do) &::before {
            animation-name: toOpaque, toTransparent;
            animation-duration: 200ms, 150ms;
            animation-delay: 0.5s, 2.5s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes toMoveBack {
    100% {
        translate: 0px calc(50cqb + 50%);
    }
}

@keyframes toMiddleOffsetDistance {
    100% {
        offset-distance: 50%;
    }
}

@keyframes toMoveAppear {
    100% {
        translate: 0px calc(100% + 16px);
    }
}

@keyframes toNextContent {
    100% {
        content: "加速曲线";
    }
}

@keyframes toMoveAside {
    100% {
        translate: calc(-100% - 30px);
    }
}

@keyframes toMoveRight {
    100% {
        translate: calc(100% + 30px) 0%;
    }
}

@keyframes toSharpContent {
    100% {
        content: "对称标准曲线";
    }
}

@keyframes toMoveDown {
    100% {
        translate: 0% 100%;
    }
}

@keyframes toMoveUp {
    100% {
        translate: 0px -80px;
    }
}

/*----------------------------------------------------------------------------*\
  主题
\*----------------------------------------------------------------------------*/
:root {
    --primary-color: var(--purple-600);
    --secondary-color: var(--green-a200);
}

::selection {
    color: rgb(0 0 0 / 0.87);
    background-color: var(--secondary-color);
}

main>.toolbar {
    --surface-shade-color: var(--indigo-shade-color);
}

@media (prefers-color-scheme: dark) {

    body>aside,
    header,
    article {
        --primary-color: var(--purple-200);
    }
}