/*------------------------------------*\
  应用栏
\*------------------------------------*/
.app-bar {
    inset-block-start: 0;
    order: -1;
    position: sticky;
    display: grid;
    padding-inline: calc(var(--keyline) - 12px);
    grid-template-columns: min-content;
    grid-auto-columns: min-content;
    grid-template-rows: var(--increment);
    grid-auto-flow: column;
    align-items: center;
    flex-shrink: 0;
    color: var(--secondary-text-color);
    overflow: clip;
}

.app-bar:has(.button+.title) {
    grid-template-columns: min-content 1fr;
}

.app-bar[variant="prominent"] {
    grid-template-columns: min-content minmax(0px, 1fr);
}

.app-bar:not([variant~="transparent"]) {
    background-color: var(--primary-color, --low-emphasis-surface-color);
    box-shadow: var(--shadow-z4);
}

.app-bar .title {
    margin-inline: 20px;
    color: var(--primary-text-color);
}

/*------------------------------------*\
  主题
\*------------------------------------*/
.app-bar[theme="light"] {
    color: var(--secondary-text-color);
}

.app-bar[theme="dark"] {
    color: var(--primary-text-color);
}