/*----------------------------------------------------------------------------*\
  分割线
\*----------------------------------------------------------------------------*/
.divider {
    display: flex;
    border: none;
    box-sizing: border-box;
    margin: 0;
    overflow: visible;

    &::before {
        content: "";
        background-color: var(--divider-color);
    }

    &[data-direction="horizontal"] {
        inline-size: 100%;
        block-size: 0;
        align-items: center;

        &::before {
            position: relative;
            flex-grow: 1;
            block-size: 1px;
        }
    }

    &[data-direction="vertical"] {
        inline-size: 0;
        block-size: 100%;
        justify-content: center;

        &::before {
            position: absolute;
            inset: 0;
            inline-size: 1px;
        }
    }
}

/*----------------------------------------------------------------------------*\
  主题
\*----------------------------------------------------------------------------*/

:root {
    --divider-color: light-dark(rgb(0 0 0 / 0.12), rgb(255 255 255 / 0.12));
}
