/*----------------------------------------------------------------------------*\
  列表
\*----------------------------------------------------------------------------*/
.tile {
    position: relative;
    display: grid;
    justify-items: start;
    align-items: center;
    grid-template-columns: auto;
    grid-auto-flow: column;
    padding-inline: var(--keyline);

    &[variant~="one"] {
        block-size: 56px;

        &[density="dense"] {
            block-size: 48px;
        }
    }

    &[variant~="two"] {
        block-size: 72px;

        &[density="dense"] {
            block-size: 60px;
        }

        &[variant~="grid"] {
            block-size: 68px;
            padding-inline-end: 0px;
        }
    }

    &[variant~="three"] {
        block-size: 88px;
    }

    & .text {
        justify-self: stretch;
        display: grid;
        white-space: nowrap;

        & .primary {
            color: var(--primary-text-color);
            overflow: hidden;
            text-overflow: ellipsis;
        }

        & .secondary {
            color: var(--secondary-text-color);
            overflow: hidden;
            text-overflow: ellipsis;
        }

        & .tertiary {
            color: var(--secondary-text-color);
        }
    }

    & .meta {
        justify-self: end;
        color: var(--secondary-text-color);
    }
}

/*----------------------------------------------------------------------------*\
  副标题
\*----------------------------------------------------------------------------*/
.subheader {
    position: relative;
    block-size: 48px;
    display: flex;
    align-items: center;
    padding-inline: var(--keyline);
    color: var(--secondary-color, var(--secondary-text-color));
}

/*----------------------------------------------------------------------------*\
  缩略图
\*----------------------------------------------------------------------------*/
.thumbnail {
    position: relative;
    inline-size: 40px;
    aspect-ratio: 1 / 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.thumbnail[variant="avatar"] {
    border-radius: 50%;

    &::after {
        content: "";
        position: absolute;
        inline-size: calc(100% - 1px);
        aspect-ratio: 1 / 1;
        border: 1px solid var(--divider-color);
        border-radius: inherit;
    }

    &[character="ali-connors"] {
        background-size: 60px auto;
        background-position: -15px -13px;
    }

    &[character="anthony-stevens"] {
        background-size: 48px;
        background-position: -2px -2px;
    }

    &[character="britta-holt"] {
        background-size: auto 43px;
        background-position: -12px -1px;
    }

    &[character="janet-perkins"] {
        background-size: auto 80px;
        background-position: -17px -22px;
    }

    &[character="jennifer-smith"] {
        background-size: 52px;
        background-position: -8px -7px;
    }

    &[character="mary-johnson"] {
        background-size: auto 44px;
        background-position: bottom;
    }

    &[character="peter-carlsson"] {
        background-position: top;
    }
}