/*------------------------------------*\
  列表
\*------------------------------------*/
.tile {
    position: relative;
    display: grid;
    justify-items: start;
    align-items: center;
    grid-template-columns: auto;
    padding-inline: var(--keyline);
}

.tile[variant~="one"] {
    block-size: 56px;
}

.tile[variant~="one"][density="dense"] {
    block-size: 48px;
}

.tile[variant~="two"] {
    block-size: 72px;
}

.tile[variant~="two"][density="dense"] {
    block-size: 60px;
}

.tile .text {
    justify-self: stretch;
    display: grid;
    white-space: nowrap;
}

.tile .text .primary {
    color: var(--primary-text-color);
    overflow: hidden;
    text-overflow: ellipsis;
}

.tile .text .secondary {
    color: var(--secondary-text-color);
    overflow: hidden;
    text-overflow: ellipsis;
}

.tile .text .tertiary {
    color: var(--secondary-text-color);
}

.tile .meta {
    justify-self: end;
    color: var(--secondary-text-color);
}

/*------------------------------------*\
  副标题
\*------------------------------------*/

.subheader {
    position: relative;
    block-size: 48px;
    display: flex;
    align-items: center;
    padding-inline: var(--keyline);
    color: var(--secondary-color, var(--secondary-text-color));
}

/*------------------------------------*\
  缩略图
\*------------------------------------*/
.thumbnail {
    position: relative;
    inline-size: 40px;
    aspect-ratio: 1 / 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.thumbnail[variant="avatar"] {
    border-radius: 50%;
}

.thumbnail[variant="avatar"]::after {
    content: "";
    position: absolute;
    inline-size: calc(100% - 1px);
    aspect-ratio: 1 / 1;
    border: 1px solid var(--divider-color);
    border-radius: inherit;
    pointer-events: none;
}

.thumbnail[variant="avatar"][character="ali-connors"] {
    background-size: 60px auto;
    background-position: -15px -13px;
}

.thumbnail[variant="avatar"][character="janet-perkins"] {
    background-size: auto 80px;
    background-position: -17px -22px;
}

.thumbnail[variant="avatar"][character="mary-johnson"] {
    background-size: auto 44px;
    background-position: bottom;
}

.thumbnail[variant="avatar"][character="peter-carlsson"] {
    background-position: top;
}

.thumbnail[variant="avatar"][character="anthony-stevens"] {
    background-size: 48px;
    background-position: -2px -2px;
}

.thumbnail[variant="avatar"][character="jennifer-smith"] {
    background-size: 52px;
    background-position: -8px -7px;
}
