/*------------------------------------*\
  列表
\*------------------------------------*/
.list {
    position: relative;
    display: grid;
    justify-items: start;
    align-items: center;
    grid-template-columns: auto;
    color: var(--secondary-text-color);
    white-space: nowrap;
}

.list[variant~="one"] {
    block-size: 56px;
}

.list[variant~="one"][density="dense"] {
    block-size: 48px;
}

.list[variant~="two"] {
    block-size: 72px;
}

.list[variant~="two"][density="dense"] {
    block-size: 60px;
}

.list .primary-text {
    justify-self: stretch;
    color: var(--primary-text-color);
    overflow: hidden;
    text-overflow: ellipsis;
}

.list .secondary-text {
    display: block;
    color: var(--secondary-text-color);
    overflow: inherit;
    text-overflow: inherit;
}

.list .meta {
    justify-self: end;
}

/*------------------------------------*\
  缩略图
\*------------------------------------*/
.avatar {
    position: relative;
    inline-size: 40px;
    aspect-ratio: 1 / 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.avatar::after {
    content: "";
    position: absolute;
    inline-size: calc(100% - 1px);
    block-size: calc(100% - 1px);
    border: 1px solid var(--divider-color);
    border-radius: inherit;
    pointer-events: none;
}

.avatar[character="ali-connors"] {
    background-size: 60px auto;
    background-position: -15px -13px;
}

.avatar[character="janet-perkins"] {
    background-size: auto 80px;
    background-position: -17px -22px;
}

.avatar[character="mary-johnson"] {
    background-size: auto 44px;
    background-position: bottom;
}

.avatar[character="peter-carlsson"] {
    background-position: top;
}

.avatar[character="anthony-stevens"] {
    background-size: 48px;
    background-position: -2px -2px;
}

.avatar[character="jonathan-lee"] {
    background-size: auto 120px;
    background-position: -50px -10px;
}

.thumbnail {
    inline-size: 40px;
    block-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}