/*----------------------------------------------------------------------------*\
  状态
\*----------------------------------------------------------------------------*/
:root {
    --states-base-color: light-dark(black, white);
}

:is(.button[data-variant="icon"], [unbounded]) {
    overflow: visible;
}

.overlay[data-variant="states"] {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    overflow: clip;
    pointer-events: none;
}

.overlay[data-variant="states"]::before,
.overlay[data-variant="states"]::after {
    content: "";
    position: absolute;
    inline-size: 100%;
    block-size: 100%;
    border-radius: inherit;
    background-color: var(--states-base-color);
    opacity: 0;
}

.overlay[data-variant="states"]::after {
    opacity: calc((0.04 * var(--hover-parameter, 0) + 0.12 * var(--focus-parameter, 0) + 0.08 * var(--selected-parameter, 0) + 0.12 * var(--activate-parameter, 0) + 0.08 * var(--dragged-parameter, 0)) * var(--states-parameter, 1));
}

@scope (body) to (.simulator) {
    .overlay[data-variant="states"]::after {
        transition-property: opacity;
        transition-duration: 480ms;
        transition-timing-function: linear;
    }
}

:is(.button[data-variant="icon"], [unbounded]) .overlay[data-variant="states"] {
    inset-block-start: unset;
    inset-inline-start: unset;
    inline-size: auto;
    min-inline-size: 100%;
    block-size: auto;
    min-block-size: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: visible;
}

:is(aside li, button, summary, footer a):is(:hover, :focus-visible, [disabled]) .overlay[data-variant="states"]::after {
    transition-duration: 120ms;
}

@media (hover: hover) {
    :is(aside li, button, summary, footer a):hover {
        --hover-parameter: 1;
    }
}

:focus-visible,
li:has(>:focus-visible) {
    outline: transparent;
    --focus-parameter: 1;
}

[data-states="activated"] {
    --activate-parameter: 1;
}

.tab-bar [data-states="activated"] {
    --activate-parameter: 0;
}

[selected] {
    --selected-parameter: 1;
}

.ripple {
    position: absolute;
    inline-size: 100%;
    block-size: auto;
    aspect-ratio: 1/1;
    background-color: var(--states-base-color);
    opacity: 0.1;
    clip-path: circle(50%);
    scale: 0;
}

[disabled],
[inert] {
    color: var(--hint-text-color);
    pointer-events: none;
    cursor: default;
}