/*----------------------------------------------------------------------------*\
  应用栏
\*----------------------------------------------------------------------------*/
.toolbar {
    flex-shrink: 0;
    position: relative;
    display: grid;
    padding-inline: calc(var(--keyline) - 12px);
    grid-template-rows: 48px;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    justify-items: start;
    align-items: center;
    color: light-dark(var(--secondary-text-color), var(--primary-text-color));
    background-color: var(--medium-emphasis-surface-color);
    overflow: clip;

    &:has(.toolbar[data-variant~="float"]) {
        grid-auto-flow: row;
        grid-auto-columns: unset;
        grid-template-rows: unset;
        padding-inline: 0;
    }

    &[data-theme~="transparent"] {
        background-color: transparent;
    }

    &[data-variant~="app-bar"] {
        inset-block-start: 0;
        position: sticky;
        grid-template-rows: var(--increment);
        grid-auto-columns: min-content;

        &:not([data-theme~="transparent"]) {
            background-color: var(--primary-color, --low-emphasis-surface-color);
            box-shadow: var(--shadow-z4);
        }

        &[data-variant~="prominent"]:not(:has(.toolbar[data-variant~="float"])) {
            grid-template-columns: min-content minmax(0px, 1fr);
        }

        & .title {
            margin-inline: 20px;
            color: var(--primary-text-color);
        }
    }

    &[data-variant~="float"] {
        border-radius: 2px;
        box-shadow: var(--shadow-z2);

        & .input {
            margin-inline: 4px;
            color: var(--hint-text-color);
        }
    }

    & .button {
        color: light-dark(var(--secondary-text-color), var(--primary-text-color));
    }
}

.toolbar[data-variant~="app-bar"]:has(.button+.title),
.toolbar[data-variant~="float"]:has(.button+.input) {
    grid-template-columns: min-content 1fr;
}

/*----------------------------------------------------------------------------*\
  特别修改
\*----------------------------------------------------------------------------*/
.application .toolbar[data-variant~="app-bar"] {
    padding-block-start: var(--status-bar-block-size);
}