/*------------------------------------*\
  应用栏
\*------------------------------------*/

.toolbar {
    flex-shrink: 0;
    position: relative;
    display: grid;
    padding-inline: calc(var(--keyline) - 12px);
    grid-template-rows: 48px;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    align-items: center;
    background-color: var(--medium-emphasis-surface-color);
    color: var(--primary-text-color);
    overflow: clip;
}

.toolbar[theme~="transparent"] {
    background-color: transparent;
}

.toolbar[variant~="app-bar"] {
    inset-block-start: 0;
    position: sticky;
    grid-template-rows: var(--increment);
    grid-auto-columns: min-content;
}

.toolbar[variant~="app-bar"]:has(.button+.title) {
    grid-template-columns: min-content 1fr;
}

.toolbar[variant~="app-bar"][variant~="prominent"] {
    grid-template-columns: min-content minmax(0px, 1fr);
}

.toolbar[variant~="app-bar"]:not([theme~="transparent"]) {
    background-color: var(--primary-color, --low-emphasis-surface-color);
    box-shadow: var(--shadow-z4);
}

.toolbar[variant~="app-bar"] .title {
    margin-inline: 20px;
    color: var(--primary-text-color);
}

.toolbar[variant~="float"] {
    border-radius: 2px;
    box-shadow: var(--shadow-z2);
}

/*------------------------------------*\
  主题
\*------------------------------------*/
.toolbar[theme="light"] {
    color: var(--secondary-text-color);
}

/*------------------------------------*\
  特别修改
\*------------------------------------*/
.application .toolbar[variant~="app-bar"] {
    padding-block-start: var(--status-bar-block-size);
}