footer a {
    direction: rtl;
    padding-inline-start: 50%;
}

/*------------------------------------*\
  正文
\*------------------------------------*/
main {
    grid-template-rows: calc(3 * var(--increment));
}

main>picture {
    grid-column: 1 / -1;
    aspect-ratio: 16 / 9;
    background-color: var(--yellow-500);
}

#goals figure {
    grid-column-end: span min(var(--content-columns), 2);
}

#language picture {
    block-size: 360px;
    align-items: stretch;
    background-color: #1f4388;
}

#system .diagram {
    block-size: 360px;
    align-items: stretch;
    gap: 16px;
    padding: 60px;
    background-color: var(--cyan-300);
}

#system .surface {
    position: relative;
    background-color: var(--medium-emphasis-surface-color);
    border-radius: 2px;
    box-shadow: var(--shadow-z2);
}

#system .surface:nth-child(1) {
    inline-size: 24px;
}

#system .surface:nth-child(2) {
    inline-size: 48px;
}

#system .surface:nth-child(3) {
    inline-size: 80px;
}

#system .surface:nth-child(4) {
    inline-size: 136px;
}

#system .surface:nth-child(5) {
    flex-grow: 1;
}

#principles figure {
    aspect-ratio: 1/1;
}

#metaphor {
    background-color: #b4e0e1;
}

#bold-graphic-intentional {
    background-color: #ea1b75;
}

#motion {
    background-color: #8f4099;
}

@media (max-width: 919px) {
    #language .illustration {
        block-size: 480px;
    }

    #system .diagram {
        inline-size: 480px;
        padding: 40px;
        writing-mode: vertical-lr;
    }

    #system .surface:nth-child(4) {
        inline-size: auto;
        flex-grow: 1;
    }

    #system .surface:nth-child(5) {
        display: none;
    }
}

/*------------------------------------*\
  主题
\*------------------------------------*/
:root {
    --primary-color: var(--cyan-500);
    --secondary-color: var(--lime-a200);
}

::selection {
    color: rgb(0 0 0 / 0.87);
    background-color: var(--secondary-color);
}

main>.app-bar {
    --surface-shade-color: rgb(38 50 56 / 0.2);
}

h1 {
    --primary-text-color: white;
}