@import "./theme.css";

footer a {
    direction: rtl;
}

/*----------------------------------------------------------------------------*\
  正文
\*----------------------------------------------------------------------------*/
main>svg {
    grid-column: 1 / -1;
    aspect-ratio: 16 / 9;
    background-color: light-dark(var(--yellow-500), var(--cyan-500));

    & rect {
        &:nth-child(1) {
            fill: light-dark(var(--yellow-800), var(--cyan-800));
        }

        &:nth-child(2) {
            fill: light-dark(var(--yellow-700), var(--cyan-700));
        }

        &:nth-child(3) {
            fill: light-dark(var(--yellow-600), var(--cyan-600));
        }

        &:nth-child(4) {
            fill: light-dark(var(--yellow-300), var(--cyan-300));
        }
    }

    & circle {
        fill: light-dark(var(--yellow-200), var(--cyan-200));
    }
}

#goals figure {
    grid-column-end: span min(var(--content-columns), 2);
}

#language picture {
    block-size: 360px;
    align-items: stretch;
    background-color: #1f4388;
}

#system {
    & .diagram {
        block-size: 360px;
        align-items: stretch;
        gap: 16px;
        padding: 60px;
        color-scheme: light;
        background-color: var(--cyan-300);
    }

    & .surface {
        position: relative;
        background-color: var(--medium-emphasis-surface-color);
        border-radius: 2px;
        box-shadow: var(--shadow-z2);

        &:nth-child(1) {
            inline-size: 24px;
        }

        &:nth-child(2) {
            inline-size: 48px;
        }

        &:nth-child(3) {
            inline-size: 80px;
        }

        &:nth-child(4) {
            inline-size: 136px;
        }

        &:nth-child(5) {
            flex-grow: 1;
        }
    }
}

#principles figure {
    aspect-ratio: 1/1;
}

#metaphor {
    background-color: #B2DFDB;
}

#bold-graphic-intentional {
    background-color: #E91E63;
}

#motion {
    background-color: #8E24AA;
}

@media (width < 920px) {
    #language .illustration {
        block-size: 480px;
    }

    #system {
        & .diagram {
            inline-size: 480px;
            block-size: 100%;
            padding: 40px;
            writing-mode: vertical-lr;
        }

        & .surface {
            &:nth-child(4) {
                inline-size: auto;
                flex-grow: 1;
            }

            &:nth-child(5) {
                display: none;
            }
        }
    }
}