/*------------------------------------*\
  正文
\*------------------------------------*/
#motion-virtual-presence,
#screen-piercing,
#no-approximated-shadows {
    grid-column-start: max(1, calc(var(--content-columns) - 1));
}

#motion-virtual-presence,
#magical-material,
#ideal-material,
#free-movement,
#screen-piercing,
#material-display,
#no-approximated-shadows,
#independent-content {
    grid-column-end: span min(var(--content-columns), 2);
}

:is(#physical-presence, #virtual-presence) .diagram {
    aspect-ratio: 1/1;
}

:is(#consistent-surfaces-thickness, #inconsistent-surfaces-thickness, #obstructed-input, #input-pass-through, #magical-material) .diagram {
    block-size: 360px;
}

:is(#ideal-material, #free-movement) .diagram {
    block-size: 480px;
}

:is(#physical-presence, #virtual-presence) .surface {
    position: absolute;
    inline-size: 200px;
    aspect-ratio: 1/1;
    background-color: var(--high-emphasis-surface-color);
    border-radius: 2px;
}

#physical-presence .surface:first-child {
    transform: translate(24px, 24px);
    box-shadow: var(--shadow-z2);
}

#physical-presence .surface:last-child {
    transform: translate(-24px, -24px);
    box-shadow: var(--shadow-z8);
}

:is(#virtual-presence, #ideal-material, #free-movement) .wrapper {
    inline-size: 100%;
    block-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: var(--drop-shadow-z2);
}

#virtual-presence .surface:first-child {
    transform: translate(24px, 24px);
}

#virtual-presence .surface:last-child {
    transform: translate(-24px, -24px);
    border-inline-end: 1px solid var(--divider-color);
    border-block-end: 1px solid var(--divider-color);
}

:is(#obstructed-input, #input-pass-through) .diagram {
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: var(--medium-emphasis-surface-color);
}

:is(#obstructed-input, #input-pass-through) .surface {
    border-radius: 2px;
}

:is(#obstructed-input, #input-pass-through) .top-bar {
    position: relative;
    inline-size: 100%;
    block-size: 56px;
    background-color: var(--low-emphasis-surface-color);
    box-shadow: var(--shadow-z2);
}

:is(#obstructed-input, #input-pass-through) .flyout {
    inset-block-start: 8px;
    inset-inline-end: 8px;
    position: absolute;
    inline-size: 168px;
    block-size: 256px;
    background-color: var(--high-emphasis-surface-color);
    box-shadow: var(--shadow-z8);
}

:is(#obstructed-input, #input-pass-through) .hint {
    position: relative;
    inline-size: 100%;
    background-color: var(--states-base-color);
    opacity: 0.12;
}

:is(#obstructed-input, #input-pass-through) .surface .hint {
    inset-block-start: 152px;
    block-size: 48px;
}

#input-pass-through .diagram>.hint {
    inset-block-start: 120px;
    block-size: 56px;
}

:is(#obstructed-input, #input-pass-through) .touch {
    position: absolute;
    inset-block-start: 184px;
    inset-inline-end: 168px;
    translate: 50% -50%;
}

#magical-material .surface {
    position: relative;
    inline-size: 0cqb;
    block-size: 0cqb;
    border-radius: 50%;
    background-color: var(--high-emphasis-surface-color);
    box-shadow: var(--shadow-z2);
}

#magical-material [play=on] {
    animation-duration: 5s;
}

#magical-material [play=on] .surface {
    animation-name: magicalMaterial1, magicalMaterial2, magicalMaterial3, magicalMaterial4, toCollapse_size;
    animation-duration: 300ms, 500ms, 500ms, 500ms, 250ms;
    animation-delay: 0.5s, 1.5s, 2.5s, 3.5s, 4.5s;
    animation-timing-function: var(--deceleration-curve), var(--standard-curve), var(--standard-curve), var(--standard-curve), var(--acceleration-curve);
    animation-fill-mode: forwards;
}

@keyframes magicalMaterial1 {
    100% {
        inline-size: 25cqb;
        block-size: 25cqb;
    }
}

@keyframes magicalMaterial2 {
    100% {
        inline-size: 40cqb;
        block-size: 40cqb;
        border-radius: 2px;
    }
}

@keyframes magicalMaterial3 {
    100% {
        inline-size: 60cqb;
    }
}

@keyframes magicalMaterial4 {
    100% {
        block-size: 60cqb;
    }
}

#ideal-material .wrapper {
    flex-direction: column;
}

#ideal-material .surface {
    position: relative;
    inline-size: 250px;
    block-size: 125px;
    border-radius: 2px;
    background-color: var(--high-emphasis-surface-color);
}

#ideal-material .surface:first-child {
    inset-block-start: -50px;
}

#ideal-material .surface:last-child {
    inset-block-end: -50px;
}

#ideal-material [play=on] {
    animation-duration: 4s;
}

#ideal-material [play=on] .surface:first-child {
    animation-name: idealMaterial11, idealMaterial2, idealMaterial31;
    animation-duration: 0.75s, 0.6s, 0.6s;
    animation-delay: 0.5s, 2s, 3.5s;
    animation-timing-function: var(--standard-curve);
    animation-fill-mode: forwards;
}

#ideal-material [play=on] .surface:last-child {
    animation-name: idealMaterial12, idealMaterial2, idealMaterial32;
    animation-duration: 0.75s, 0.6s, 0.6s;
    animation-delay: 0.5s, 2s, 3.5s;
    animation-timing-function: var(--standard-curve);
    animation-fill-mode: forwards;
}

@keyframes idealMaterial11 {
    0% {
        inset-block-start: -50px;
    }

    100% {
        inset-block-start: 25px;
    }
}

@keyframes idealMaterial12 {
    0% {
        inset-block-end: -50px;
    }

    100% {
        inset-block-end: 25px;
    }
}

@keyframes idealMaterial2 {
    100% {
        block-size: 150px;
    }
}

@keyframes idealMaterial31 {
    100% {
        inset-block-start: -50px;
        block-size: 125px;
    }
}

@keyframes idealMaterial32 {
    100% {
        inset-block-end: -50px;
        block-size: 125px;
    }
}

#free-movement .surface {
    position: relative;
    inline-size: 150px;
    aspect-ratio: 1/1;
    border-radius: 2px;
    background-color: var(--high-emphasis-surface-color);
    transform: translate(-225px, 100px);
}

#free-movement [play=on] {
    animation-duration: 4s;
}

#free-movement [play=on] .wrapper {
    will-change: filter;
    animation-name: freeMovement12, freeMovement22;
    animation-duration: 1s;
    animation-delay: 0.5s, 2.5s;
    animation-timing-function: var(--standard-curve);
    animation-fill-mode: forwards;
}

@keyframes freeMovement12 {
    100% {
        filter: var(--drop-shadow-z8);
    }
}

@keyframes freeMovement22 {
    100% {
        filter: var(--drop-shadow-z2);
    }
}

#free-movement [play=on] .surface {
    animation-name: freeMovement11, freeMovement21;
    animation-duration: 1s;
    animation-delay: 0.5s, 2.5s;
    animation-timing-function: var(--standard-curve);
    animation-fill-mode: forwards;
}

@keyframes freeMovement11 {
    100% {
        transform: translate(225px, -100px) rotate(-90deg);
    }
}

@keyframes freeMovement21 {
    100% {
        transform: translate(-225px, 100px) rotate(-180deg);
    }
}

@media (width < 920px) {
    #free-movement .surface {
        transform: translate(-75px, 135px);
    }

    @keyframes freeMovement11 {
        100% {
            transform: translate(75px, -135px) rotate(-90deg);
        }
    }

    @keyframes freeMovement21 {
        100% {
            transform: translate(-75px, 135px) rotate(0deg);
        }
    }
}

/*------------------------------------*\
  主题
\*------------------------------------*/
:root {
    --primary-color: var(--cyan-500);
    --secondary-color: var(--lime-a200);
}

::selection {
    color: rgb(0 0 0 / 0.87);
    background-color: var(--secondary-color);
}

main>.toolbar {
    --surface-shade-color: rgb(38 50 56 / 0.2);
    color: var(--secondary-text-color);
}

h1 {
    --primary-text-color: white;
}